<!DOCTYPE html> 
<html>

	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="stylesheets/Tcss/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!-- T-ThemeScripts -->
		<script src="javascripts/jquery/jquery.min.js"></script>
		<script src="javascripts/jquery/jquery.scrolly.min.js"></script>
		<script src="javascripts/jquery/jquery.dropotron.min.js"></script>
		<script src="javascripts/jquery/jquery.scrollex.min.js"></script>
		<script src="javascripts/Ttheme/skel.min.js"></script>
		<script src="javascripts/Ttheme/util.js"></script>
		<!--[if lte IE 8]><script src="stylesheets/js/ie/respond.min.js"></script><![endif]-->
		<script src="javascripts/Ttheme/main.js"></script>
	</head>

	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h3 id="logo"><a href="/"> Tranquility</a></h3>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li>
								<a href="#">Functions</a>
								<ul>
									<li>
										<a href="#">Main</a>
										<ul>
											<li><a href="/databoard">ECE</a></li>
											<li><a href="#">Option 2</a></li>
											<li><a href="#">Option 3</a></li>
											<li><a href="#">Option 4</a></li>
										</ul>
									</li>
									<li><a href="#">C1</a></li>
									<li><a href="#">C2</a></li>
									<li><a href="#">C3</a></li>
								</ul>
							</li>
							<li><a href="#">NoFunctions</a></li>
<!--							<li><a href="#" class="button special">Sign Up</a></li>		-->
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Hi I'm Tranquility</h2>
							<p>Welcome to my web <br />
							Just enjoy it  :) </p>
						</header>
						<span class="image"><img src="images/tranquility.png" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/校門口.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>Feng Chia University</h2>
										<p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>逢甲大學起源是1950年代臺灣中部地方仕紳與丘念台、楊亮功為紀念丘逢甲而創建的學校。1960年1月，董事會奉準備案，董事為丘念台、楊亮功、蕭一山、凌鴻勳、陳泮嶺、賈士毅、相菊潭、藍文徵、邱樹森、李青雲、邱欽洲、陳會瑞、邱伯璘，由董事長陳泮嶺兼任校長。7月，獲教育部核准立案招生，校名「逢甲工商學院」。計畫設於台中市北屯區廍子里（今中臺科技大學校址）。1961年8月，高信接任校長後，決定遷校於西屯現址，初設土木、水利、會計與工商管理四系，但學生暫借北屯國小教室上課。</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p> 這是WiKi上複製來的....</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/商學院.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Introduction1</h2>
							<p>介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</p>
						</header>
						<p>聽說很多妹的地方聽說很多妹的地方聽說很多妹的地方聽說很多妹的地方聽說很多妹的地方聽說很多妹的地方聽說很多妹的地方</p>
						<ul class="actions">
							<li><a href="#" class="button">More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/擠擠擠.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Introduction2</h2>
							<p>介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</p>
						</header>
						<p>最好吃的學校最好吃的學校最好吃的學校最好吃的學校最好吃的學校最好吃的學校最好吃的學校最好吃的學校最好吃的學校有夠擠有夠擠有夠擠有夠擠有夠擠</p>
						<ul class="actions">
							<li><a href="#" class="button">More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>About me</h2>
							<p>Personality</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Data</h3>
									<p>lalalalallaal</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Talk</h3>
									<p>lalalallalala</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-bolt"></span>
									<h3>ECE</h3>
									<p>lalalallalala</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-paper-plane"></span>
									<h3>Future</h3>
									<p>lalalallalala</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-users"></span>
									<h3>Team</h3>
									<p>lalalallalala</p>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-lock"></span>
									<h3>Security</h3>
									<p>lalalallalala</p>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Contact</h2>
							<p>laalalalalala</p>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Sent" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.facebook.com/TranquilityDeveloper/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://github.com/TranquilityDev" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: Tranquility</a></li>
					</ul>
				</footer>

		</div>
	</body>

</html>
